/* services.module.css */
.servicesContainer {
    padding: 50px;
    background-color: #f5f5f5; /* A neutral background */
    min-height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically */
  }
  
  .heading {
    color: #333;
    margin-bottom: 30px; /* Spacing below the heading */
  }
  
  .serviceSection {
    background-color: #fff; /* White background for content */
    padding: 20px;
    margin-bottom: 20px; /* Spacing between sections */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
    width: 80%; /* 80% of the container's width */
    max-width: 800px; /* Maximum width of the section */
    border-radius: 10px; /* Rounded edges */

  }
  
  .serviceSection h2 {
    color: #1140ce; /* A color that stands out */
    margin-bottom: 10px; /* Spacing below the subheading */
  }
  
  .serviceSection p {
    line-height: 1.6; /* Line height for readability */
    color: #666; /* A softer color for text */
  }
 
  /* Centering the map within its container */
.mapContainer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically, if needed */
  width: 100%; /* Ensures the container takes the full width of its parent */
  height: 450px; /* Adjust based on your preference or responsiveness */
  margin: 20px 0; /* Adds some margin above and below the map container */
}

.mapContainer iframe {
  max-width: 600px; /* Maximum width of the iframe */
  width: 100%; /* Makes the iframe responsive */
  height: 100%; /* Adjust height as needed, or use a fixed height */
  border: none; /* Removes the default iframe border */
  border-radius: 8px; /* Optional: adds rounded corners to the iframe */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds shadow for depth */
}

@media (max-width: 768px) {
  .mapContainer {
    height: auto; /* Allows the container's height to adjust based on the iframe */
  }
  
  .mapContainer iframe {
    height: 300px; /* Adjust height for smaller devices */
  }
}