.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background-color: #2a2d34;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 24px;
}

.interactiveImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.optionButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.optionButton:hover {
background-color: #0056b3;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);}

.feedback {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: large;
  margin-bottom: 15px;
}

.congratulations {
  padding: 80px;
  font-size: x-large;
  background-color: #40444f;
  border-radius: 10px;
  margin-top: 20px;
}

.backButton {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: #0056b3
}