/* Footer.module.css */
.footer {
    color:white;
    padding: 40px;
    background-color: var(--color-gray-300);
    position: absolute;
    bottom: 0;
    width: 100%;
  
    border-top-width: 10px;
    border-top-color: rgb(71, 0, 137);
    border-top-style: solid;  
  }
  
  .promotion {
    margin-bottom: 20px;
    font-size: x-large;
  }
  
  .columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .column {
    flex: 1;
    margin-right: 10px;
  }
  
  .column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footerLinks {
    margin-bottom: 20px;
  }
  
  .socialMedia {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .socialMedia p {
    margin-right: 10px;
  }
  
  .copyRight {
    text-align: center;
  }
  