/* Footer.module.css */
.footer {
    color:white;
    padding: 40px;
    background-color: var(--color-gray-300);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top-width: 10px;
    border-top-color: rgb(71, 0, 137);
    border-top-style: solid;  
    z-index: 1000;
    position: relative;
  }
  
  .promotion {
    margin-bottom: 20px;
    font-size: x-large;
  }
  
  .columns {
    display: flex;
    flex-wrap: wrap; /* Allow columns to wrap onto the next line */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 20px;
  }
  
  .column {
    flex: 1;
    margin-right: 10px;
    text-align: center;
  }
  
  .column h3 {
    font-size: 18px;
    margin-left: 50px;
    text-align: center;
  }
  
  .socialMedia {
    display: flex;
    align-items: center;
    text-align:center;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .socialMedia h1 {
    margin-bottom: 10px;
    align-items: center;
    text-align:center;
    justify-content: center;
  }
  .socialMedia ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
  }
  
  .socialMedia ul li {
    margin-left: 30px; 
    margin-right: 5px; 
    justify-content: center;

  }

  .copyRight {
    text-align: center;
  }
  