/* Adjusting for distinct color and alignment */
.footer {
  color: #ffffff; /* General text color */
  background-color: #333; /* Dark background for contrast, replace with your color variable */
  padding: 20px 40px; /* Increased horizontal padding for alignment */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 3px solid rgb(71, 0, 137);
}

.columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px; /* Increased gap for better separation and alignment */
  width: 100%; /* Full width to utilize space and align items */
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start for uniform alignment */
  padding: 0 15px; /* Padding for slight spacing, helps with alignment */
  min-width: 150px;
}

.column h3 {
  font-size: 18px;
  color: #a8a8a8; /* Lighter or different color for headings for distinction */
  margin-bottom: 15px;
  font-weight: bold; /* Make headings bold */
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Ensure list takes full width of the column for alignment */
}

.column ul li, .column ul li a {
  cursor: pointer;
  color: #ffffff; /* Maintaining general text color for items */
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
  margin-left: -40px; /* Adjust according to your specific alignment needs */
}

.column ul li:hover, .column ul li a:hover {
  color: #1140ce;
  transform: translateY(-2px);
}

.socialMedia img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.socialMedia img:hover {
  transform: scale(1.5);
}



.copyRight {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

/* Ensure consistency and modern appearance */
.footer, .column ul li a, .socialMedia a {
  font-family: 'Arial', sans-serif;
}

.column ul li a, .socialMedia a {
  text-decoration: none;
}

.socialMedia ul li {
  margin: 0 8px;
}
