.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #f8f9fa;
  height: 500px; /* Adjusted height for better content fit */
  position: relative; /* Ensures positioning context for the button */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allows the details section to fill available space */
  justify-content: space-between; /* Improves spacing inside the card */
}

.title {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 8px;
}

.description {
  font-size: 1rem;
  margin-bottom: 12px;
  text-align: justify;
  color: #666;
}

.points,
.difficulty {
  font-size: 0.9rem;
  color: #444;
  margin: 5px 0;
}

.playButton {
  background-color: #007BFF;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: auto; /* Pushes the button to the bottom */
  align-self: center;
  width: 80%;
}

.playButton:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.lockIcon {
  margin-right: 8px;
}
