.header {
  position: relative;
  width: 100%;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9595b0; 
  color: #333; 
  z-index: 1000;
  font-family: Arial, Helvetica, sans-serif; 
}

.logoContainer {
  flex: 1;
}
.logoContainer img {
  filter: invert(0.9) brightness(0.9) contrast(0.9);
}


.navigation {
  display: flex;
  align-items: center; 
  justify-content: space-around; 
  gap: 20px;
}

.menuItem {
  background: none;
  border: none;
  cursor: pointer;
  color: #333; 
  font-weight: bold; 
  padding: 10px 15px; 
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s; 
  text-decoration: none; 

}

.menuItem:hover, .menuItem:focus {
  background-color: #E8E8E8; 
  color: #007BFF; 
  align-items: center; 
  justify-content: space-around; 
}

.menuItem:active {
  background-color: #D0D0D0; 
  align-items: center; 
  justify-content: space-around; 
}

.searchBar {
  display: flex;
  align-items: center;
}

.searchIcon {
  width: 24px;
  height: 24px;
}

.searchInput {
  width: 200px; 
  padding: 8px;
  border: 1px solid #DDD; 
  border-radius: 5px; 
  background-color: #FFF; 
  color: #333; 
  margin-left: 5px;
}

.searchInput::placeholder {
  color: #AAA; 
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 20px;
  }
  
  .navigation {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .menuItem, .searchInput {
    width: 100%; 
  }
}
