
.gradientForm {
    /* background: var(--medley-neutral); */
    /* background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
    margin-top: 20px;
    padding: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto;
    background-color: #798795; /* Adds contrast against the main background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensures it fills appropriately within its max-width */  
  }
  
  .formContainer {
    /* Additional styling for the form container */

  }
  
  .card {
    /* Card styling */
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #59445f, #474066, #49276d, #592584);

  }
  
  .infoContainer {
    /* Information container styling */
    margin-block: 20px;
    
  }
  
  .moreThanCompany {
    /* Additional styling for the information section */
    background-color: #798795;
    border-radius: 5px;
    padding: 20px;
    
  }
  
  .formOutline {
    /* Styles for form outlines */
  
  }
  
  .formControl {
    /* Styles for form controls */
    background-color: #eee;
    border: none;
    border-radius: 10px;
    
  }
  
  .formLabel {
    /* Styles for form labels */
    color: white;
    
  }
  
  .createButtonContainer {
    /* Additional styling for the create button container */
  }
  
  .dontHaveAccount {
    /* Styles for the "Don't have an account?" text */
    color: #0059ff;
  }
  
  .createButton {
    /* Styles for the create button */
    background-color: hsl(354, 70%, 54%);
    border: none;
    color: white;
    border-radius: 100px;

  }
  
  .alreadyHaveAccount {
    /* Styles for the "Already have an account?" text */
    color: #0059ff;
    
    
  }
  .gradientCustom2{
    margin-right: 10px;
  }