.vectorIcon {
 height: 38px;
 width: 40px;
 margin-bottom: 13px;
}
.prime {
  display: inline-block;
  color: rgb(0, 0, 0);
}
.logo {
  font-size: var(--font-size-31xl);
  flex-direction: row;
  font-family: var(--font-racing-sans-one);
}
.rotateIcon {
  animation: rotateAnimation 4s linear infinite; 
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
