.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introMessage {
  background-color: #4b4b6d;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
    width: 100%;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
    /* Center buttons vertically */
    border-radius: 10px;
    cursor: pointer;
  display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* Uniform width */
    text-align: center;
  transition: background-color 0.3s ease;
  }
.button:hover {
  background-color: #0056b3;
}
.selected {
  background-color: #37b81e;
}

.questionContainer,
.policyText {
  text-align: center;
  width: 100%;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.scenarioImage,
.infographicImage {
  max-width: 100%;
  border-radius: 8px;
  margin: 20px auto;
  display: block;
}

.policyText {
  background-color: #442b2b;
  color: white;
  border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    font-size: 20px;
    padding: 20px;
    margin: 20px 0;
    word-wrap: break-word;
    overflow: hidden;
    max-width: 100%;
  }
  
  .navArrowButton {
    background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 32px;
    /* Larger font size for visibility */
    padding: 0 20px;
    /* Reduce padding to just horizontal for edge positioning */
    transition: color 0.2s;
}

.navArrowButton:hover {
  color: #0056b3;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  /* Position arrows at the edges */
  width: 100%;
  /* Ensure full width to push buttons to edges */
  margin-top: 20px;
  /* Space above navigation buttons */
}
