/* passwordEnigma.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .welcomeScreen h1, .welcomeScreen p {
    text-align: center;
  }
  
  .beginButton {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .beginButton:hover {
    background-color: #0056b3;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 320px;
  }
  
  .input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
  }
  
  .introMessage {
    background-color: #4b4b6d;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white; /* Assuming you want the text color to be white for better contrast */
  }
  
  /* Update your existing .button style or add this if it's specifically for the welcome screen */
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    width: calc(100% - 40px); /* Adjust as necessary depending on the container's padding */
    text-align: center;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #218838;
  }
  
  .feedback {
    margin-top: 20px;
    color: #dc3545;
    font-weight: bold;
  }
  